{{ define "index" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snippeter</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
              integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </head>
    <body>
    <header class="p-4">
        <h1>Snippeter
            <iframe src="https://ghbtns.com/github-btn.html?user=nanaminakano&repo=snippeter&type=star&count=true"
                    frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
        </h1>
    </header>
    <main class="p-4">
        <form method="post">
            <div class="mb-3">
                <label for="content" class="form-label">Type Markdown Here...</label>
                <textarea name="content" class="form-control" id="content" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </main>
    <footer class="fixed-bottom">
        <div class="p-4 bg-light border">
            <div>已被使用 {{ .Count }} 次</div>
            <div id="hitokoto" >
                :D 获取中...
            </div>
            <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
            <div>Develop by <a href="https://www.notkiller.moe/" target="_blank">Nanami</a>.</div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
    </html>
{{ end }}
